/* Reset */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #000000;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Garante que o padding e a borda não afetem a largura total */
}

header h1 {
    font-size: 24px;
}

header p {
    font-size: 16px;
}

/* Seções */
section {
    padding: 30px;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

.about,
.services,
.contact {
    background-color: white;
    /* margin: 5px auto; */
    width: 30%;
    max-width: 600px;
    height: 580px;
    margin-bottom: 2%;
    margin-top: 2%;
    /* border-radius: 10px; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.services * {
    font-family: 'Georgia', serif;
}

/* Lista de serviços */
.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    font-size: 17px;
    padding: 10px;
}

.services i {
    color: #2c3e50;
    margin-right: 8px;
}

/* Botão de WhatsApp */
.whatsapp-btn {
    display: inline-block;
    background-color: #f4e072;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-style: normal;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

.whatsapp-btn i {
    margin-right: 8px;
}

.whatsapp-btn-areas {
    display: inline-block;
    background-color: #f4e072;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-style: normal;
    padding: 10px 16px;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: bold;
}

/* Rodapé */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Garante que o padding e a borda não afetem a largura total */
    align-items: center;
    flex-direction: column;
    font-family: 'Georgia', serif;
}

.container-row {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 4%;
    box-sizing: border-box;
    /* Garante que o padding e a borda não afetem a largura total */
    flex-direction: row;

}

.left,
.right {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    /* Faz com que os elementos fiquem empilhados */
    justify-content: center;
    /* Centraliza a imagem horizontalmente */
    align-items: center;
    /* Centraliza a imagem verticalmente */
}

.fas-fa-balance-scale {
    line-height: 1.8;
}

.image-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    /* ou center, ou outro foco */
}

.logo_image {
    max-width: 12%;
    /* Limita o tamanho da imagem a 80% da largura do bloco */
    height: auto;
    /* Mantém a proporção da imagem */
    margin-top: 10px;
    margin-bottom: 5px;
}

.icon-areas {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto;
}

.texto_descricao {
    max-width: 60%;
    height: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.texto-sobreposto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-family: Georgia, serif;
    font-style: italic;
    font-weight: bold;
    /* ← esta linha adiciona o itálico */
    /* background: rgba(0, 0, 0, 0.5); fundo semi-transparente para legibilidade */
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
}

.texto-sobreposto-areas {
    font-size: 20px;
    font-family: Georgia, serif;
    text-align: center;
    font-style: normal;
    font-weight: normal;
}

/* Media query para telas menores */
@media (max-width: 768px) {

    .whatsapp-btn {
        font-size: 13px;
    }


    .container {
        flex-direction: column;
        /* Faz com que os itens fiquem empilhados em telas pequenas */
    }

    .left,
    .right {
        flex: none;
        /* Remove o comportamento de flex para os itens dentro do container */
        width: 100%;
        /* Garante que ambos ocupem 100% da largura disponível */
    }

    .logo_image {
        max-width: 40%;
        /* Ajusta o tamanho da imagem no celular */
    }

    .image-wrapper {
        height: 400px;
    }

    .image {
        object-position: 65%;
        /* exemplo */
    }

    .texto_descricao {
        max-width: 60%;
        /* Ajusta a largura da descrição no celular */
        height: auto;
        font-size: 18px;
    }

    .texto-sobreposto {
        max-width: 60%;
        word-wrap: break-word;
        /* ou */
        overflow-wrap: break-word;
        font-size: 18px;
    }

    .texto-sobreposto-areas {
        font-size: 14px;
        line-height: 1.5;
        font-family: Georgia, serif;
        text-align: center;
    }

    .area-de-atuacao {
        font-size: 22px;
    }

    .container-row {
        display: flex;
        width: 100%;
        margin: 0;
        /* padding: 0;
    justify-content: center;
    align-items: center; */
        /* gap: 4%; */
        /* box-sizing: border-box; Garante que o padding e a borda não afetem a largura total */
        flex-direction: column;
    }

    .about,
    .services,
    .contact {
        background-color: white;
        /* margin: 5px auto; */
        width: 80%;
        max-width: 600px;
        margin: 2%;
        /* height: 400px; */
        height: auto;
        /* margin-bottom: 2%;
margin-top: 2%; */
        /* border-radius: 10px; */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .services li {
    font-size: 14px;
    padding: 10px;
    }
}